[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
django-filter = "*"
djangorestframework-yaml = "*"
drf-yasg = "*"
djangorestframework-xml = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
dj-database-url = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
